*{
    margin: 0;
    padding: 0;
}

body{
    background: #fcfcfc;
    background-image: url(img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

header{
    background: rgba(0,0,0,0.7);
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 6px 6px;
    width: 100%;
    position: fixed;
    

}

h1, h2, h3, h4, h5,h6 {
    font-family: "Lobster", sans-serif;
    color: white;
}
h1{
    font-size: 32px;
}
h2 {
    font-size: 24px;
}

p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

footer{
    background: rgba(0,0,0,0.7);
    margin-top: 20px;
    padding: 40px 0px;
    text-align: center;
    width: 100%;
    color: white;
}

main{
    max-width: 1280px;
    margin-top: 100px;
}
.CampoText{
    
    padding: 15px;
    background-color: rgba(255,2550,255, 0.7);;
    border-radius: 6px;
}

.Video{
    max-width: 1280px;
    max-height: 720px;
}


.newBlock{
    background: rgba(0,0,0,0.7);
    margin: 20px 0px;
    padding: 40px 0px;
    text-align: center;
    width: 100%;
}

ul li{
    margin-left: 15px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}
.prainha{
    width: 100%;
}


.social{
    display: flex;
    justify-content: center;
}
.social .iconsSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.7);
    border-radius: 120px;
    margin: 0px 5px;
    
}
.social img{
    width: 60px;
    height: 60px;
}
.social .iconsSocial:hover{
    opacity: 0.8;
}

@media (max-width: 1280px){
.CampoText{
    margin: 10px;
}
}

footer span a{
    color: orangered;
    text-decoration: none;
}